nav {
    background-color: orange;
    height: 50px;
  }
  
  .circleOrange {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: orange;
    border-radius: 50%;
    border: 4px solid;
  }
  
  .circleYellow {
    display: inline-block;
    width: 200px;
    height: 200px;
    color: yellow;
    border-radius: 50%;
    border: 16px solid;
  }
  
  .circleBlack {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: black;
    border-radius: 50%;
    border: 3.6px solid;
  }
  
  .circleBlack-1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: black;
    border-radius: 50%;
    border: 1.6px solid;
    margin-left: -10px;
  }
  
  .circleBlack-2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 50%;
    border: 3.2px solid;
    margin-left: -20px;
  }
  
  .circleBlack-3 {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: black;
    border-radius: 50%;
    border: 4.8px solid;
    margin-left: -30px;
  }
  
  .circleBlack-4 {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: black;
    border-radius: 50%;
    border: 6.4px solid;
    margin-left: -40px;
  }
  
  .circleBlack-5 {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: black;
    border-radius: 50%;
    border: 8px solid;
    margin-left: -50px;
  }
  
  .circleBlack-6 {
    display: inline-block;
    width: 120px;
    height: 120px;
    color: black;
    border-radius: 50%;
    border: 9.6px solid;
    margin-left: -60px;
  }