$orange: orange;
$yellow: yellow;
$black: black;

nav {
    background-color: $orange;
    height:50px;}

@mixin circle($size, $color, $display) {
    display: $display;
    width: $size;
    height: $size;
    color: $color;
    border-radius: 50%;
    border: $size*0.08 solid;
}

.circleOrange {
    @include circle(50px, $orange, inline-block);
}

.circleYellow {
    @include circle(200px, $yellow, inline-block);
}

.circleBlack {
    @include circle(45px, $black, inline-block);
}
@for $i from 1 through 6 {
    .circleBlack-#{$i} {
          @include circle($i*20px, $black, inline-block);
          margin-left : $i*-10px;
  }
}